<?xml version="1.0"?>
<config>
	<modules>
		<PostcodeNl_Api>
			<version>1.0.6.0</version>
		</PostcodeNl_Api>
	</modules>
	<frontend>
		<routers>
			<postcodenl>
				<use>standard</use>
				<args>
					<module>PostcodeNl_Api</module>
					<frontName>postcodenl</frontName>
				</args>
			</postcodenl>
		</routers>
		<layout>
			<updates>
				<postcodenl>
					<file>postcodenl/api/lookup.xml</file>
				</postcodenl>
			</updates>
		</layout>
		<translate>
			<modules>
				<postcodenl>
					<files>
						<default>PostcodeNl_Api.csv</default>
					</files>
				</postcodenl>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
                    <modules>
                    	<postcodenlnl before="Mage_Adminhtml">PostcodeNl_Api_Adminhtml</postcodenlnl>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<helpers>
			<postcodenl>
				<class>PostcodeNl_Api_Helper</class>
			</postcodenl>
		</helpers>
	   <blocks>
			<postcodenl>
			   	<class>PostcodeNl_Api_Block</class>
			</postcodenl>
	   </blocks>
	</global>
	<adminhtml>
		<acl>
			<all>
				<title>Allow Everything</title>
			</all>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<postcodenl translate="title" module="postcodenl">
											<title>Postcode.nl API</title>
										</postcodenl>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<postcodenl>
					<file>postcodenl/api/lookup.xml</file>
				</postcodenl>
			</updates>
		</layout>
		<translate>
			<modules>
				<postcodenl>
					<files>
						<default>PostcodeNl_Api.csv</default>
					</files>
				</postcodenl>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<postcodenl>
			<config>
				<enabled>1</enabled>
				<never_hide_country>0</never_hide_country>
				<api_secret></api_secret>
				<api_url>https://api.postcode.nl</api_url>
				<api_key></api_key>
				<api_showcase>0</api_showcase>
				<api_debug>0</api_debug>
			</config>
		</postcodenl>
	</default>
</config>