<?xml version="1.0"?>
<config>
	<modules>
		<PostcodeNl_Api>
			<version>1.2.0.1</version>
		</PostcodeNl_Api>
	</modules>
	<frontend>
		<routers>
			<postcodenl_api>
				<use>standard</use>
				<args>
					<module>PostcodeNl_Api</module>
					<frontName>postcodenl_api</frontName>
				</args>
			</postcodenl_api>
		</routers>
		<layout>
			<updates>
				<postcodenl_api>
					<file>postcodenl/api/lookup.xml</file>
				</postcodenl_api>
			</updates>
		</layout>
		<translate>
			<modules>
				<postcodenl_api>
					<files>
						<default>PostcodeNl_Api.csv</default>
					</files>
				</postcodenl_api>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<postcodenl_api before="Mage_Adminhtml">PostcodeNl_Api_Adminhtml</postcodenl_api>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<helpers>
			<postcodenl_api>
				<class>PostcodeNl_Api_Helper</class>
			</postcodenl_api>
		</helpers>
		<blocks>
			<postcodenl_api>
				<class>PostcodeNl_Api_Block</class>
			</postcodenl_api>
		</blocks>
		<resources>
			<postcodenl_api_setup>
				<setup>
					<module>PostcodeNl_Api</module>
				</setup>
			</postcodenl_api_setup>
		</resources>
		<events>
			<checkout_submit_all_after>
				<observers>
					<postcodenl_signal_order_creation>
						<type>singleton</type>
						<class>PostcodeNl_Api_Model_Observer</class>
						<method>signalObserveOrderCreation</method>
					</postcodenl_signal_order_creation>
				</observers>
			</checkout_submit_all_after>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<postcodenl_api>
					<file>postcodenl/api/lookup.xml</file>
				</postcodenl_api>
			</updates>
		</layout>
		<translate>
			<modules>
				<postcodenl_api>
					<files>
						<default>PostcodeNl_Api.csv</default>
					</files>
				</postcodenl_api>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<postcodenl_api>
			<config>
				<enabled>1</enabled>
				<api_key></api_key>
				<api_secret></api_secret>
				<enabled_address_api>1</enabled_address_api>
				<enabled_signal_api>0</enabled_signal_api>
			</config>
			<advanced_config>
				<use_street2_as_housenumber>0</use_street2_as_housenumber>
				<use_street3_as_housenumber_addition>0</use_street3_as_housenumber_addition>
				<block_postofficeboxaddresses>0</block_postofficeboxaddresses>
				<never_hide_country>0</never_hide_country>
				<admin_validation_disabled>0</admin_validation_disabled>
			</advanced_config>
			<development_config>
				<api_url>https://api.postcode.nl</api_url>
				<api_showcase>0</api_showcase>
				<api_debug>0</api_debug>
			</development_config>
		</postcodenl_api>
	</default>
</config>