<?xml version="1.0"?>
<config>
	<modules>
		<PostcodeNl_Api>
			<version>1.0.8.0</version>
		</PostcodeNl_Api>
	</modules>
	<frontend>
		<routers>
			<postcodenl_api>
				<use>standard</use>
				<args>
					<module>PostcodeNl_Api</module>
					<frontName>postcodenl</frontName>
				</args>
			</postcodenl_api>
		</routers>
		<layout>
			<updates>
				<postcodenl_api>
					<file>postcodenl/api/lookup.xml</file>
				</postcodenl_api>
			</updates>
		</layout>
		<translate>
			<modules>
				<postcodenl_api>
					<files>
						<default>PostcodeNl_Api.csv</default>
					</files>
				</postcodenl_api>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<postcodenl before="Mage_Adminhtml">PostcodeNl_Api_Adminhtml</postcodenl>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<helpers>
			<postcodenl_api>
				<class>PostcodeNl_Api_Helper</class>
			</postcodenl_api>
		</helpers>
	   <blocks>
			<postcodenl_api>
				<class>PostcodeNl_Api_Block</class>
			</postcodenl_api>
	   </blocks>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<postcodenl_api>
					<file>postcodenl/api/lookup.xml</file>
				</postcodenl_api>
			</updates>
		</layout>
		<translate>
			<modules>
				<postcodenl_api>
					<files>
						<default>PostcodeNl_Api.csv</default>
					</files>
				</postcodenl_api>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<!-- Note: Config name is 'postcode' instead of 'postcode_api' -->
		<postcodenl>
			<config>
				<enabled>1</enabled>
				<never_hide_country>0</never_hide_country>
				<api_secret></api_secret>
				<api_url>https://api.postcode.nl</api_url>
				<api_key></api_key>
				<api_showcase>0</api_showcase>
				<api_debug>0</api_debug>
			</config>
		</postcodenl>
	</default>
</config>