/* Frontend styles */

input.pcnl-readonly {
	background-color: #EEE;
}

.form-list input.pcnl-input-text-half {
	width: 45%;
	margin-right:5px;
}
.form-list select.pcnl-input-text-half {
	width: 45%;
}

input.pcnl-readonly,
select.pcnl-readonly {
	color: grey;
	font-style: italic;
}

.pcnl-info-text {
	font-size: 90%;
}

.pcnl-info-label {
	float: none !important;
}

.pcnl-address-text {
	font-style: italic;
	clear: both;
	padding-left: 4px;
	padding-right: 4px;
	width: 90%;
}

/* excessive hidey-stuff? yes. blame IE (6, 7 & 9) */
.pcnl-hidden-field {
	visibility: hidden;
	display: block;
	height: 0px !important;
	width: 0px !important;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
}

/* Magento 1.9 styling 'float fix' for manual checkbox */
.form-list .control.pcnl-manual-checkbox div.input-box {
	display: block;
	float: none;
}

/* Showcase styles */

h4.pcnl-showcase, h4.pcnl-debug {
	background: url(../images/postcode-logo.png) left center no-repeat;
	padding-left: 146px;
	height: 22px;
	line-height: 25px;
	margin-bottom: 0px;
}

dl.pcnl-showcase, dl.pcnl-debug {
	padding: 4px;
	border: 1px solid grey;
	border-radius: 4px;
	-moz-border-radius: 4px;
	background: white;
	position: relative;
}

dl.pcnl-showcase iframe {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 300px;
	height: 300px;
	border: 1px solid grey;
}

dl.pcnl-showcase dt, dl.pcnl-debug dt {
	font-weight: bold;
}
dl.pcnl-showcase dd, dl.pcnl-debug dd {
	margin-left: 20px;
}

/* OneStepCheckout(.com) styling */
div.checkoutcontainer div.pcnl-input-housenumber {
	width: 60%;
}
div.checkoutcontainer div.pcnl-input-housenumber .input-text {
	width: 74%;
}
div.checkoutcontainer .pcnl-with-addition div.pcnl-input-housenumber .input-text {
	width: 22%;
}
div.checkoutcontainer div.pcnl-input-housenumber select.pcnl-input-text-half {
	margin-left: 4px;
	width: 50%;
}
div.checkoutcontainer .pcnl-info-text {
	width: 85%;
}
div.checkoutcontainer dl.pcnl-showcase iframe {
	position: relative;
	float: right;
	width: 260px;
	height: 260px;
	margin-bottom: 15px;
	border: 1px solid grey;
}

/* OneStepCheckout.com */
.onestepcheckout-index-index  .group-select li .input-postcode .input-box {
	width: auto;
}

/* GoMage LightCheckout */
body.gomage-checkout-onepage-index dl.pcnl-debug {
	width: 260px;
	overflow: hidden;
}

body.gomage-checkout-onepage-index dl.pcnl-debug:hover {
	width: auto;
	overflow: normal;
}

body.gomage-checkout-onepage-index .pcnl-manual-checkbox label,
body.gomage-checkout-onepage-index .pcnl-info label {
	float: none;
}
body.gomage-checkout-onepage-index .pcnl-info-text {
	width: 90%;
}

/* MageStore One Step Checkout */
body.onestepcheckout-index-index #one-step-checkout-form .pcnl-info-text {
	width: 78%;
}

/* Apptha One Step Checkout */
body.onestepcheckout-index-index .onepage .form-list .pcnl-apptha-fields .field {
	margin-right: 8px;
	float: left;
	width: 120px !important;
}
body.onestepcheckout-index-index .onepage .form-list .pcnl-apptha-fields .pcnl-input-housenumber {
	padding-left: 6px;
}
body.onestepcheckout-index-index .onepage .form-list .pcnl-apptha-fields .field .input-text {
	width: 120px !important;
}
body.onestepcheckout-index-index .onepage .form-list .pcnl-apptha-checkbox .field {
	width: 250px !important
}
body.onestepcheckout-index-index .onepage .form-list .pcnl-apptha-checkbox input {
	float: left;
	margin-top: 2px;
	margin-right: 0;
}
body.onestepcheckout-index-index .onepage .form-list .pcnl-apptha-checkbox label {
	padding-left: 6px;
}

/* IWD One Step Checkout */
body.onepagecheckout-index-index .pcnl-manual-checkbox {
	clear: both; /* IE 7/9 fix */
}
